@page
@using GadevangTennisklub2025.Models
@model GadevangTennisklub2025.Pages.Teams.AttendTeamModel
@{
    ViewData["Title"] = "Tilmeld dig Til Et Hold";
}
<h1>Tildmeld dig et Hold</h1>

<h4>medlem = @(Model.SelectedMember!=null ? Model.SelectedMember.Name : "not logged in")</h4>

@{
    List<Team> nonEnteredTeams = Model.NonEnteredTeamsByMember((Models.Member)Model.SelectedMember).Result;
}

@if (nonEnteredTeams.Count == 0)
{
    <p>No teams available, this may happen if you are written up to all teams.</p>
}
else
{
    @foreach (Team team in nonEnteredTeams)
    {
        <p>Name/Title: @team.Name</p>
        <p>Day of the Week: @team.DayOfWeek</p>
        <p>Session Length (hours): @team.Length</p>
        <p>Min Number of Attendees: @team.AttendeeRange[0]</p>
        <p>Max Number of Attendees: @team.AttendeeRange[1]</p>
        <p>Number of Spots Left: @(team.AttendeeRange[1] - (team.Attendees==null?0:team.Attendees.Count))</p>
        <p>Description: @team.Description</p>
        @if ((team.Attendees == null ? 0 : team.Attendees.Count) < team.AttendeeRange[1])
        {
            <div class="form-group">
                <form style="display: inline;" asp-page-handler="AttendTeam" asp-route-Id="@team.Id" asp-route-memberId="@Model.SelectedMember.Member_Id">
                   <input type="submit" value="Attend This Course" class="btn btn-primary" />
                </form>
            </div>
        }

    }
}
