@page
@using Models;
@model GadevangTennisklub2025.Pages.Teams.ShowTeamModel
@{
    ViewData["Title"] = "Klubbens Hold";
}

<h3>Klubbens Hold</h3>

<btn>
    <a class="nav-link text-dark bg-primary" asp-page="CreateTeam">Opret nyt Hold</a>
</btn>

<btn>
    <a class="nav-link text-dark bg-primary" asp-page="AttendTeam">Tilmeld Hold</a>
</btn>


<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>pladser tilbage</th>
            <th>Medlemskabstype</th>
            <th>Beskrivelse</th>
            <th>Dag</th>
            <th>Tidsrum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Team item in Model.ListOfTeams)
        {
            <tr>
                <td>@item.Name</td>
                <td>@(item.AttendeeRange[1] - item.Attendees.Count)</td>
                <td>@item.MembershipType</td>
                <td>@item.Description</td>
                <td>@item.DayOfWeek</td>
                <td>@item.TimeOfDay - @(item.TimeOfDay.Add(TimeSpan.FromHours(item.Length)))</td>

                <td>

                    <form style="display: inline;" asp-page-handler="Edit" asp-route-ID="@item.Id">
                        <input type="image" src="@Url.Content("~/Images/buttons/edit-button-icon.png")" style="width: 24px; height: 24px;" />
                    </form>



                </td>

            </tr>
        }
    </tbody>
</table>
