@page
@using Models;
@model GadevangTennisklub2025.Pages.Teams.ShowTeamModel
@{
    ViewData["Title"] = "Klubbens Hold";
}

<h3>Klubbens Hold</h3>

@if(Model.isAdmin==true){
<btn>
    <a class="nav-link text-dark bg-primary" asp-page="CreateTeam">Opret nyt Hold</a>
</btn>
}
@if (Model.isLoggedIn)
{
    <form style="display: inline;" asp-page-handler="AttendTeam" asp-route-ATTENDID="0">
        <button type="submit" style="width: 24px; height: 24px;">Tilmeld Hold</button>
    </form> 

    <btn>
        <a class=" text-dark nav-link bg-primary" asp-page="AttendedTeam">tildmeldte Hold</a>
    </btn>
}
<table class="table">
    <thead>
        <tr>
            <th>Titel</th>
            <th>pladser tilbage</th>
            <th>Medlemskabstype</th>
            <th>Coach</th>            
            <th>Beskrivelse</th>
            <th>Dag</th>
            <th>Tidsrum</th>
            @if (Model.isAdmin == true)
            {
                <th>knapper</th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            var teams = Model.ListOfTeams;
        }
        @if (teams != null)
        {
                @foreach (Team item in teams)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@(item.AttendeeRange[1] - (item.Attendees==null?0:item.Attendees.Count))</td>
                        <td>@item.MembershipType</td>
                        <td>@(item.Trainer==null?"ingen træner":item.Trainer.Name)</td>
                        <td>@item.Description</td>
                        <td>@item.week[item.DayOfWeek]</td>
                        <td>@item.TimeOfDay - @(item.TimeOfDay.Add(TimeSpan.FromHours(item.Length)))</td>
                        @if (Model.isAdmin == true)
                        {
                            <td>
                                <form style="display: inline;" asp-page-handler="Edit" asp-route-ID="@item.Id">
                                    <input type="image" src="@Url.Content("~/Images/buttons/edit-button-icon.png")" style="width: 24px; height: 24px;" />
                                </form>
                            </td>
                        }
                    </tr>
                }
            }
        
        else
        {
            <tr><td colspan="6">Ingen hold tilgængelige.</td></tr>
        }

    </tbody>
</table>

@section Scripts {
    <script>
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    alert('@TempData["SuccessMessage"]');
            </text>
        }
    </script>
}
