@page
@model GadevangTennisklub2025.Pages.Events.EventPageModel
@{
    ViewData["Title"] = "EventPage";
}

<form method="post" enctype="multipart/form-data">
    <p style="color:red">@Model.Message</p>
    <div class="form-group">
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="@Model.e.Id" class="control-label" hidden="@Model.notadmin"></label>
        <input asp-for="@Model.e.Id" class="form-control" hidden="@Model.notadmin" readonly="true" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.e.Title" class="control-label" hidden="@Model.notadmin"></label>
        <input asp-for="@Model.e.Title" class="form-control" hidden="@Model.notadmin" readonly="@Model.notadmin" />
    </div>
    

    @if (HttpContext.Session.GetString("IsAdmin")==null || Model.notadmin)
    {
        <h1>@Model.e.Title</h1>
    }
    <div class="form-group">
        <label asp-for="@Model.e.Date" class="control-label" ></label>
        <input asp-for="@Model.e.Date" class="form-control" readonly="@Model.notadmin" />
    </div>

    @if (HttpContext.Session.GetString("IsAdmin") == null || Model.notadmin)
    {
        @Model.e.Description
    } 
    <div class="form-group">
        <label asp-for="@Model.e.Description" class="control-label" hidden="@Model.notadmin"></label>
        <input asp-for="@Model.e.Description" class="form-control" hidden="@Model.notadmin" readonly="@Model.notadmin" />
    </div>
    <br>
    @if (HttpContext.Session.GetString("Member_Id") != null)
    {
        <div class="formgroup">
            <input type="submit" value="Tilmeld event" class="btn btn-primary" />
        </div>

    }
    @if (!Model.notadmin)
    {
            <Input type="submit" value="UpdateEvent" class="btn btn-primary" asp-page-handler="Update" />
            <Input type="submit" value="DeleteEvent" class="btn btn-primary" asp-page-handler="Delete" />

    }
</form>


