@page
@model GadevangTennisklub2025.Pages.Member.CreateMemberModel
@{
}
<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Name" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Name" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Address" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Address" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.PostalCode" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.PostalCode" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.City" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.City" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Municipality" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Municipality" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Municipality" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Phone" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Phone" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.OtherPhone" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.OtherPhone" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.OtherPhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Birthday" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Birthday" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Birthday" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Køn</label>

        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="RegisterModel.Member.Gender" value="Kvinde" id="genderKvinde" />
            <label class="form-check-label" for="genderKvinde">Kvinde</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="RegisterModel.Member.Gender" value="Mand" id="genderMand" />
            <label class="form-check-label" for="genderMand">Mand</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="RegisterModel.Member.Gender" value="Andet" id="genderAndet" />
            <label class="form-check-label" for="genderAndet">Andet</label>
        </div>

        <span asp-validation-for="RegisterModel.Member.Gender" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Email" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Email" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Email" class="text-danger"></span>
    </div>
    <div class="form-group form-check">
        <input asp-for="RegisterModel.Member.NewsSubscriber" class="form-check-input" type="checkbox" />
        <label asp-for="RegisterModel.Member.NewsSubscriber" class="form-check-label">Tilmeld nyhedsbrev</label>
        <span asp-validation-for="RegisterModel.Member.NewsSubscriber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Username" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Username" class="form-control" />
        <span asp-validation-for="RegisterModel.Member.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.RegisterModel.Member.Password" class="control-label"></label>
        <input asp-for="@Model.RegisterModel.Member.Password" class="form-control" autocomplete="off" />
        <span asp-validation-for="RegisterModel.Member.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="ProfileImage">Upload profilbillede (Valgfrit)</label>
        <input type="file" class="form-control" name="ProfileImage" id="ProfileImage" />
    </div>
    <h4>Vælg medlemskabstype</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Vælg</th>
                <th>Kategori</th>
                <th>Kontingent</th>
                <th>Rettigheder</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <input type="radio" asp-for="RegisterModel.Member.MemberType" value="Seniorer" />
                </td>
                <td>Seniorer</td>
                <td>Kr. 700,-</td>
                <td>Ret til banebooking, træningsdeltagelse samt mulighed for tilmelding til klubbens øvrige arrangementer.</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" asp-for="RegisterModel.Member.MemberType" value="Ung-Seniorer (18-25 år)" />
                </td>
                <td>Ung-Seniorer (18-25 år)</td>
                <td>Kr. 450,-</td>
                <td>Ret til banebooking, træningsdeltagelse samt mulighed for tilmelding til klubbens øvrige arrangementer.</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" asp-for="RegisterModel.Member.MemberType" value="Juniorer (op til 18 år)" />
                </td>
                <td>Juniorer (op til 18 år)</td>
                <td>Kr. 300,-</td>
                <td>Ret til banebooking, træningsdeltagelse samt mulighed for tilmelding til klubbens øvrige arrangementer.</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" asp-for="RegisterModel.Member.MemberType" value="Familiemedlemskab (Familie med samme adresse)" />
                </td>
                <td>Familiemedlemskab<br /><small>(Familie med samme adresse)</small></td>
                <td>Kr. 1.500,-</td>
                <td>Ret til banebooking, træningsdeltagelse samt mulighed for tilmelding til klubbens øvrige arrangementer.</td>
            </tr>
            <tr>
                <td>
                    <input type="radio" asp-for="RegisterModel.Member.MemberType" value="Passivt medlemskab" />
                </td>
                <td>Passivt medlemskab</td>
                <td>Kr. 100,-</td>
                <td>Du kan komme til arrangementer såsom tennisfest til medlemspris</td>
            </tr>
        </tbody>
    </table>
    <span asp-validation-for="RegisterModel.Member.MemberType" class="text-danger"></span>

    <div class="form-group form-check">
        <input asp-for="RegisterModel.AcceptTerms" class="form-check-input" type="checkbox" />
        <label asp-for="RegisterModel.AcceptTerms" class="form-check-label">Jeg accepterer betingelserne</label>
        <span asp-validation-for="RegisterModel.AcceptTerms" class="text-danger"></span>
    </div>

    @{
        var pictureConsentOptions = new List<SelectListItem>
    {
    new SelectListItem { Value = "Ja til alle billeder", Text = "Ja til alle billeder" },
    new SelectListItem { Value = "Ja til fokusbillede, nej til portrætbillede", Text = "Ja til fokusbillede, nej til portrætbillede" },
    new SelectListItem { Value = "Nej til fokusbillede og portrætbillede", Text = "Nej til fokusbillede og portrætbillede" }
    };
    }
    <div class="form-group">
        <label asp-for="RegisterModel.Member.PictureConsent" class="control-label"></label>
        <select asp-for="RegisterModel.Member.PictureConsent" class="form-control"
                asp-items="pictureConsentOptions">
        </select>
        <span asp-validation-for="RegisterModel.Member.PictureConsent" class="text-danger"></span>
    </div>

    <p>
        <div class="form-group">
            <input type="submit" value="Opret bruger" class="btn btn-primary" />
        </div>
    </p>

</form>