@page
@model GadevangTennisklub2025.Pages.Member.MyProfileModel
@{
}
<h2>Min Profil</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


    <h5>Dine Bookinger:</h5>

    @if (Model.Bookings.Count < 1)
    {
        <p>Ingen bookinger fundet</p>
    }
    else
    {

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dato</th>
                <th>Medspiller</th>
                <th>Bane</th>
                <th></th> 
            </tr>
        </thead>
        <tbody>
            @foreach (var bookingVM in Model.BookingsWithCourtsAndPartners)
            {
                <tr>
                    <td>@bookingVM.Booking.Start.ToString("dd/MM/yyyy")</td>
                    
                    <td>@bookingVM.PartnerName</td>
                    
                    <td>@bookingVM.CourtName</td>
                    <td>
                        <form method="post" asp-page-handler="DeleteBooking">
                            <input type="hidden" name="bookingId" value="@bookingVM.Booking.Id" />
                            <button type="submit" class="btn btn-danger btn-sm">Slet</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    <br />
    <h5>Dine Events:</h5>

    @if (Model.Events.Count < 1)
    {
        <p>Du er ikke tilmeldt nogen events.</p>
    }
    else
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Dato</th>
                    <th>Titel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var eventVM in Model.EventWithTitleAndDate)
                {
                    <tr>
                        <td>@eventVM.DateAndTime.ToString("dd/MM/yyyy")</td>

                        <td>
                            <a class="" type="button" title="Title"
                               asp-page="/Events/EventPage" asp-route-EventId="@eventVM.EventId">@eventVM.Title</a>
                        </td>
                     
                        <td>
                            <form method="post" >
                                <input type="hidden" name="Event_Id" value="@eventVM.EventId" />
                                <button type="submit" asp-page-handler="RemoveFromEvent" asp-route-eventId="@eventVM.EventId" class="btn btn-danger btn-sm">Afmeld fra Event</button>
                            </form>
                            @* <form method="post" asp-page-handler="RemoveFromEvent">
                                <input type="hidden" name="eventId" value="@eventVM.EventId" />
                                <button type="submit" class="btn btn-danger btn-sm">Afmeld fra Event</button>
                            </form> *@

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <br/>

    <h5>Dine hold:</h5>
    <a class="btn btn-primary btn-sm" title="MyTeams"
       asp-page="/Teams/AttendedTeam" >Se de hold du er tilmeldt</a>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Profil billede</label><br />
        @if (!string.IsNullOrEmpty(Model.Member.ProfileImagePath))
        {
            <img src="@Model.Member.ProfileImagePath" width="150" height="150" />
        }
        else
        {
            <p>Intet profilbillede.</p>
        }
    </div>

    <br />
    <h5>Dine Brugeroplysninger:</h5>
    <div class="form-group">
        <label asp-for="@Model.Member.Username"></label>
        <input asp-for="@Model.Member.Username" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Name"></label>
        <input asp-for="@Model.Member.Name" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Address"></label>
        <input asp-for="@Model.Member.Address" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.PostalCode"></label>
        <input asp-for="@Model.Member.PostalCode" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.City"></label>
        <input asp-for="@Model.Member.City" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Municipality"></label>
        <input asp-for="@Model.Member.Municipality" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Phone"></label>
        <input asp-for="@Model.Member.Phone" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.OtherPhone"></label>
        <input asp-for="@Model.Member.OtherPhone" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Birthday"></label>
        <input asp-for="@Model.Member.Birthday" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Gender"></label>
        <input asp-for="@Model.Member.Gender" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.Email"></label>
        <input asp-for="@Model.Member.Email" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label>Tilmeldt Nyhedsbrev</label>
        <input class="form-control" readonly
               value="@(Model.Member.NewsSubscriber ? "Ja" : "Nej")" />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.MemberType"></label>
        <input asp-for="@Model.Member.MemberType" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Member.PictureConsent"></label>
        <input asp-for="@Model.Member.PictureConsent" class="form-control" readonly />
    </div>
  
    <a class="btn btn-primary btn-sm" title="Edit"
       asp-page="EditMember" asp-route-member_Id="@Model.Member.Member_Id">Rediger Profil</a>
    <a class="btn btn-danger btn-sm " type="button" title="Delete"
       asp-page="DeleteMember" asp-route-member_Id="@Model.Member.Member_Id">Slet profil</a>

</form>

