@page
@model GadevangTennisklub2025.Pages.Blog.MakeBlogModel
@{
    ViewData["Title"] = "MakeBlog";
}

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="@Model.Post.Title" class="control-label"></label>
        <input asp-for="@Model.Post.Title" class="form-control" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Post.Content" class="control-label"></label>
        <input asp-for="@Model.Post.Content" class="form-control" />
        <span asp-validation-for="@Model.Post.Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Opret Blog Indslag" class="btn btn-primary" />
    </div>
</form>
