@page
@model GadevangTennisklub2025.Pages.TennisField.ShowCourtsModel
@{
    ViewData["Title"] = "ShowCourts";
}
<h1>Baner:</h1>
@if (Model.isAdmin == true)
{
    <a asp-page="/TennisField/CreateCourt">Opret Bane</a>
}

<form method="get">
    <p>
        Search: <input type="text" asp-for="@Model.FilterCriteria" onchange="this.form.submit()" />
        <div class="form-group">
            <label class="custom-control-label">Sort By</label>
            <input type="radio" asp-for="@Model.SortBy" value="CourtId" onclick="this.form.submit()">BaneId</input>
            <input type="radio" asp-for="@Model.SortBy" value="Name" onclick="this.form.submit()">Navn</input>
            <input type="radio" asp-for="@Model.SortBy" value="Type" onclick="this.form.submit()">Type</input>
        </div>

        <div class="form-group">
            <label class="custom-control-label">Sort Order</label>
            <select asp-for="@Model.SortOrder" onchange="this.form.submit()">
                <option value="Ascending">Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div>
    </p>
</form>

@functions {
    string GetRowColor(string type)
    {
        return type switch
        {
            "Indendørs Paddle" => "#f2dede",         // light red
            "Indendørs Tennis" => "#dff0d8",         // light green
            "Udendørs Paddle" => "#d9edf7",    // light blue
            "Udendørs Tennis" => "#fcf8e3",    // light yellow
            _ => "white"
        };
    }
}
<p>Antal oprettede baner: @Model.Courts.Count</p>
<table style="width:85%" class="table">
    <thead style="background-color:lightskyblue;border-radius:60px">
        <tr>
            <td>Bane ID</td>
            <td>Navn</td>
            <td>Type</td>
            @if (Model.isAdmin == true)
            {
                <td></td>
                <td></td>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (Models.TennisField courts in Model.Courts)
        {
            <tr style="background-color:@GetRowColor(courts.Type)">
                <td>@courts.CourtId</td>
                <td>@courts.Name</td>
                <td>@courts.Type</td>
                @if (Model.isAdmin == true)
                {
                    <td style="background-color:lightgray;text-align:center"><a asp-page="EditCourt" asp-route-Id="@courts.CourtId">Rediger</a></td>
                    <td style="background-color:lightgray;text-align:center"><a asp-page="DeleteCourt" asp-route-deleteId="@courts.CourtId">Slet</a></td>
                }
            </tr>
        }
    </tbody>
</table>